.get-beer {
}

.get-beer__button {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: hsl(180, 30%, 50%);
  border: none;
  color: hsl(0, 0%, 100%);
  padding: 0.75rem 2rem;

  &:hover {
    background-color: hsl(0, 100%, 50%);
    box-shadow: 0 0 5px hsl(0, 0%, 50%);
  }
}

.get-beer__spinner {
}

.get-beer__beers {
}

.get-beer__beers-list {
  line-height: 1.5;
  margin: 1rem 0;
}

.get-beer__beers-list-item {
  margin-bottom: 0.5rem;
}

.get-beer__beers-list-item--beer-name {
  font-weight: bold;
}

.get-beer__beers-list-item--beer-tagline {
  font-style: italic;
}
